h1{
    padding-top: 50px;
    text-align: center;
    margin-bottom: 20px;
}
h3{
    text-align: center;
    padding-top: 50px;
}
main{
    margin-left: 70px;
    margin-right: 70px;
}
th{
    text-align: center;
    color: blue;
}
td{
    text-align: center;
}
li{
    list-style-type: none;
    font-size: 18px;
    text-align: center;
}
.container{
    text-align: center;
}