.container{
    display: grid;
    grid-template-columns:33% 33% 33%;
}
div.photo-block {
    text-align: center;
    border: 1px solid gray;
    border-radius: 5%;
    margin-left: 10px;
    height: 400px;
}
.photo-title {
    margin-top: 70px;
    font-size: 20px;
    font-family: Arial;
}
img.photo-image {
    max-height: 200px;
    width: auto;
    height: auto;
}